<html>

    <head>
        <meta name ="viewport" content = "width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel = "stylesheet" type = "text/css" href="static/index.css"> 
        <title>Search</title>
    </head>    
    
    <body>
        <div class="container text-center">
            <h1 class="header info">SEFA Search</h1>
        </div>
        <form class = "grid" action = "/search" method = "POST">           
            <input type = "text" name = "search_term" id = "search_term" placeholder="Search SEFA" required>
            <input type="submit" class = "file_submit" value="Search"> 
         

        </form>
    </body>
    
</html>

